@import "tailwindcss";
@media print {
  body {
    background: white !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .print\:hidden {
    display: none !important;
  }

  .print\:bg-white {
    background-color: white !important;
  }

  .print\:shadow-none {
    box-shadow: none !important;
  }

  .print\:border-none {
    border: none !important;
  }
}
